/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 70px; /* space for fixed navbar if needed */
  padding-bottom: 60px; /* space for footer */
}
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

router-outlet {
  flex: 1;
}
