.btn-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: white;
  font-weight: 400;
  border: none;
  padding: 7px 15px;
  border-radius: 8px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn-instagram:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  color: white;
}

.btn-instagram i {
  font-size: 1.2rem;
}
